// GRID VARIABLES
// Costumize yours, based on your projects needs
$cols : 12;
$gap  : 15px;

// BREAKPOINTS
$xl   : 1100px;
$l    : 1000px;
$m    : 800px;
$s    : 640px;
$xs   : 480px;
$xxs  : 320px;

// NOW INSIDE AN ARRAY, FOR ITERATION
$breakpoints: (
	xxs  : $xxs,
	xs   : $xs,
	s    : $s,
	m    : $m,
	l    : $l,
	xl   : $xl
);

.row {
	@include clearfix;
	max-width: map-get($breakpoints, xl);
	margin: 0 auto;
}

@mixin col {
	display: block;
	float: left;
	min-height: 1px;
	padding-left: $gap;
	padding-right: $gap;
}

// WIDTH INDEPENDENT
@for $i from 1 through $cols {
	
	.col-#{$i} {
		@include col;
		width: (100%/$cols*$i);
	}
	.push-#{$i} {
		margin-left: (100%/$cols*$i);
	}
	.pull-#{$i} {
		margin-left: -(100%/$cols*$i);
	}
}

// GENERATE BREAKPOINTS, PUSHES AND PULLS
@each $point, $resolution in $breakpoints {

	@media screen and (max-width: #{$resolution}){

		@for $i from $cols through 1 {
			.#{$point}-col-#{$i} {
				@include col;
				width: (100%/$cols*$i);
			}
			.#{$point}-push-#{$i} {
				margin-left: (100%/$cols*$i);
			}
			.#{$point}-pull-#{$i} {
				margin-left: -(100%/$cols*$i);
			}
		}
	}
}

// GENERATE MIXINS FOR QUICK ADJUSTMENT TO VARIOUS MEDIA QUERIES
@mixin xl {
	@media screen and (max-width: $xl) {
		@content;
	}
}
@mixin l {
	@media screen and (max-width: $l) {
		@content;
	}
}
@mixin m {
	@media screen and (max-width: $m) {
		@content;
	}
}
@mixin s {
	@media screen and (max-width: $s) {
		@content;
	}
}
@mixin xs {
	@media screen and (max-width: $xs) {
		@content;
	}
}
@mixin xxs {
	@media screen and (max-width: $xxs) {
		@content;
	}
}

// HELPERS
.pad {
	padding-left: $gap;
	padding-right: $gap;
}
.no-pad {
	padding-left: 0;
	padding-right: 0;
}
.alpha {
	padding-left: 0;
}
.omega {
	padding-right: 0;
}
